{% extends "layout.html" %}
{% block content %}

<!-- About Section -->
<div id="about-section" class="padding pt-xs-40">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-8">
                <div class="block-title v-line">
                    <h2><span>Our</span> MISSION</h2>
                    <!-- <p class="italic">
                        Aenean suscipit eget mi act
                    </p> -->
                </div>
                <div class="text-content">
                    <p>
                        To become within the next 10 years 2020 - 2030 the leading Facility Management Service Provider in Sudan
                    </p>
                </div>
                <hr class="divider">
                <div class="post-content">
                    <div class="post-img">
                        <img class="img-responsive" src="static/assets/images/blog.jpg" alt="Photo">
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="dark-bg our-vision light-color padding-40">
                    <div class="block-title">
                        <h2><span>Our</span> VISION</h2>
                        <!-- <p class="italic">
                            Aenean suscipit eget mi act
                        </p> -->
                    </div>
                    <p>
                        Deliver of unique service with care
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About Section End-->
<!-- Section -->
<section class="padding ptb-xs-40 gray-bg">
    <div class="container">

        <div class="row">
            <div class="col-lg-6 d-flex align-items-center">

                <div>
                    <h3 class="bigger_text mt-60 mt-xs-0 mt-sm-2">The Company you can trust</h3>
                    <p>
                    	Gentlecare can provide fully outsourced services to their clients, the key benefits to clients are :
                        <li>Expertise: Access to expertise</li> 
                        <li>Flexibility</li>
                        <li>Leverage</li>
                        <li>Service consolidation</li> 
                        <li>Focus</li>
                        <li>Responsibility</li>
                    </p>
                </div>

            </div>

            <div class="col-lg-6 mt-sm-30 mt-xs-30">
                <img src="static/assets/images/dashboard-example-desktop.png" alt="">
            </div>

        </div>

    </div>
</section>
<!-- Section End-->

<!-- Counter Section -->
<div class="fact-counter-wrapper padding-60 ptb-xs-40 bg_contact overlay-before" data-stellar-background-ratio="0.5">
    <div class="container text-center pos_reletive">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="single-fact new_counter">
                    <div class="icon-boxed">
                        <img src="static/assets/images/plumb.svg" style="width: 50px; height: 50px;"></img>
                    </div>
                    <span class="counter new__counter" data-count="3562">0</span>
                    <p>
                        Total Jobs
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-fact new_counter">
                    <div class="icon-boxed">
                        <img src="static/assets/images/listening.svg" style="width: 50px; height: 50px;"></img>
                    </div>
                    <span class="counter new__counter" data-count="1054">0</span>
                    <p>
                        Happy Clients
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-fact new_counter">
                    <div class="icon-boxed">
                        <img src="static/assets/images/electrician(2).svg" style="width: 50px; height: 50px;"></img>
                    </div>
                    <span class="counter new__counter" data-count="400">0</span>
                    <p>
                        Active Agent
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-fact new_counter">
                    <div class="icon-boxed">
                        <img src="static/assets/images/enterprise.svg" style="width: 50px; height: 50px;"></img>
                    </div>
                    <span class="counter new__counter" data-count="4">0</span>
                    <p>
                        Cities 
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Counter Section End-->

<!-- history -->
<section class="padding ptb-xs-40 gray-bg">
    <div class="container">
        <div class="row pb-60 pb-xs-40">
            <div class="col-md-8 offset-md-2">
                <div class="sec_hedding text-center">
                    <h2>Our Histroy</h2>
                    <span class="b-border"></span>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s
                    </p>
                </div>
            </div>
        </div>

        <div class="border_middle">
            <div class="row">
                <div class="col-md-3">
                    <div class="bullet_round">
                        <div class="first_lef">
                            <strong class="mr-bottum">Startup</strong>
                            <strong class="mr-top">2014</strong>
                            <div class="hover_cont respon_hover">
                                <h3>Lorem Ipsum</h3>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                </p>
                                <span class="conner"></span>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-md-3">
                    <div class="bullet_round">
                        <div class="first_lef">
                            <strong class="mr-bottum">Startup</strong>
                            <strong class="mr-top">2015</strong>
                            <div class="hover_cont">
                                <h3>Lorem Ipsum</h3>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                </p>
                                <span class="conner"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="bullet_round">
                        <div class="first_lef">
                            <strong class="mr-bottum">Startup</strong>
                            <strong class="mr-top">2016</strong>
                            <div class="hover_cont">
                                <h3>Lorem Ipsum</h3>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                </p>
                                <span class="conner"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="bullet_round last_round">
                        <div class="first_lef">
                            <strong class="mr-bottum">Startup</strong>
                            <strong class="mr-top">2017</strong>
                            <div class="hover_cont">
                                <h3>Lorem Ipsum</h3>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                </p>
                                <span class="conner"></span>
                            </div>
                        </div>
                        <div class="second_righ">
                            <strong class="mr-bottum">Startup</strong>
                            <strong class="mr-top">2017</strong>
                            <div class="hover_cont">
                                <h3>Lorem Ipsum</h3>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                </p>
                                <span class="conner"></span>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>
</section>
<!-- history End-->

{% endblock content %}