{% extends "layout.html" %}
{% block content %}
<section class="padding ptb-xs-40">
	<div class="romana_chect_out_form_area sp">
		<div class="container" style="margin-top: -170px">
			<form action="{{ url_for('addOrderCleaning',Service = Service, Price = Price, BookingType = BookingType, Time = hours, Maid = maid, Comment = comments, OrderDate = OrderDate )}}" method="POST">
				<div class="romana_check_out_form">
					<div class="row bg_withe">
						<div class="col-lg-8" style="box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.17);">
							<div class="check_form_left common_input">
								<div class="heading-box pb-30" style="padding-top: 30px;">
									<h2><span>Contact </span> Details</h2>
									<span class="b-line l-left"></span>
								</div>
								<div class="row">
									<div class="col-sm-6">
										<label>First Name </label>
										{{ form.FirstName }}
									</div>
									<div class="col-sm-6">
										<label>Last Name </label>
										{{ form.LastName }}
									</div>
								</div>
								<div class="row">
									<div class="col-sm-6">
										<label>Phone Number </label>
										{{ form.PhoneNumber }}
									</div>
									<div class="col-sm-6">
										<label>Email  </label>
										{{ form.Email }}
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12">
										<label>Address </label>
										{{ form.Address  }}
									</div>
								</div>
								<div class="row">
									<div class="col-sm-6">
										<input id="lat" name="lat" type="hidden">
										<input id="long" name="long" type="hidden">
										<button type="submit" class="btn-text mb-40">Order</button>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4" style="padding-top: 30px; padding-bottom: 30px;">
							<div class="check_form_right bg-color light-color">
								<div class="heading-box pb-15 ">
									<h3><span>Booking </span>Summary</h3>
									<span class="b-line l-left secondary_bg"></span>
								</div>

								<div class="product_order">
									<ul>
										<li>
											Booking Type :<span>{{ BookingType }}</span>
										</li>
										<li>
											Selected Hours :<span>{{ hours }}</span>
										</li>
										<li>
											Selected Maids :<span>{{ maid }}</span>
										</li>
										<li>
											Extra Services :<span>{{ Service }}</span>
										</li>
										<li>
											Selected Date :<span id="dateOrder">{{ OrderDate }}</span>
										</li>
									</ul>
								</div>
								<div class="romana_select_method ">
									<ul class="mb-40">
										<li>
											<h3><span>Price </span>Details</h3>
											<span class="b-line l-left secondary_bg"></span>
											<div class="product_order">
												<ul>
													<li>
														Total Charge :<span>150 SDG</span>
													</li>
													<li>
														Extra Service :<span>{{ Price }} SDG</span>
													</li>
													<li>
														Total Price :<span>165 SDG</span>
													</li>
												</ul>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>

</section>


<section class="padding ptb-xs-40">
	<div class="container">
		<div class="row mt-30 mt-xs-0">
			<div class="col-md-4 d-flex align-items-center">
				<div class="section_tit">
				</div>
			</div>
		</div>

	</div>
</section>

<script>
	var result = document.getElementById('result')
	function getLocation(){
		if(navigator.geolocation){
			// result.innerHTML = "Detceting Location ...."
			navigator.geolocation.getCurrentPosition(getlocation, getError)
		}else{
			// result.innerHTML = " Browser Doesnt support GeoLocation ...."
		}
	}
	function getlocation(location){
		let lat = location.coords.latitude;
   		let long = location.coords.longitude;
		getUserAddressBy(lat,long)
		document.getElementById('lat').value = lat
		document.getElementById('long').value = long
	}
	
	function getError(error) {
		console.log(error)
	}


	function getUserAddressBy(lat, long) {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                var address = JSON.parse(this.responseText)
				document.getElementById('Address').value = address.results[0].formatted_address
            }
        };
        xhttp.open("GET", "https://maps.googleapis.com/maps/api/geocode/json?latlng="+lat+","+long+"&key=AIzaSyAaVF2b8c8-Ml6_gDTfRaESPZeZOFQDUX0", true);
        xhttp.send();
    }

	window.onload = getLocation()
</script>
{% endblock content %}