{% extends "layout.html" %}
{% block content %}
<section class="padding ptb-xs-40">
	<div class="romana_chect_out_form_area sp">
		<div class="container" style="margin-top: -170px">
			<form action="{{ url_for('addOrderCleaning',Service = Service, BookingType = BookingType, Price = Price, Orderdate = Orderdate, Time = hours, Comment = Comment)}}" method="POST">
				<div class="romana_check_out_form">
					<div class="row bg_withe">
						<div class="col-lg-8" style="box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.17);">
							<div class="check_form_left common_input">
								<div class="heading-box pb-30" style="padding-top: 30px;">
									<h2><span>Contact </span> Details</h2>
									<span class="b-line l-left"></span>
								</div>
								<div class="row">
									<div class="col-sm-6">
										<label>First Name </label>
										<input type="text" name="fname" id="fname" class="form-control">
									</div>
									<div class="col-sm-6">
										<label>Last Name </label>
										<input type="text" name="lname" id="lname" class="form-control">
									</div>
								</div>
								<div class="row">
									<div class="col-sm-6">
										<label>Phone Number </label>
										<input type="tel" name="phone" class="form-control">
									</div>
									<div class="col-sm-6">
										<label>Email </label>
										<input type="email" name="email" id="email" class="form-control"> </div>
								</div>
								<div class="row">
									<div class="col-sm-12">
										<label>Address </label>
										<input type="text" name="address" placeholder="Address">
										<button type="submit" class="btn-text mb-40">Order</button>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4" style="padding-top: 30px; padding-bottom: 30px;">
							<div class="check_form_right bg-color light-color">
								<div class="heading-box pb-15 ">
									<h3><span>Booking </span>Summary</h3>
									<span class="b-line l-left secondary_bg"></span>
								</div>

								<div class="product_order">
									<ul>
										<li>
											Booking Type :<span>{{ BookingType }}</span>
										</li>
										<li>
											Selected Hours :<span>{{ hours }}</span>
										</li>
										<li>
											Selected Maids :<span>{{ maid }}</span>
										</li>
										<li>
											Extra Services :<span>{{ Service }}</span>
										</li>
										{% if OnceDate %}
										<li>
											Selected Date :<span id="dateOrder">{{ OnceDate }}</span>
										</li>
										{% else %}
										<li>
											Selected Date :<span id="dateOrder">{{ StartDate }} to {{ EndDate }}</span>
										</li>
										{% endif %}
									</ul>
								</div>
								<div class="romana_select_method ">
									<ul class="mb-40">
										<li>
											<h3><span>Price </span>Details</h3>
											<span class="b-line l-left secondary_bg"></span>
											<div class="product_order">
												<ul>
													<li>
														Total Charge :<span>150 SDG</span>
													</li>
													<li>
														Extra Service :<span>{{ Price }} SDG</span>
													</li>
													<li>
														Total Price :<span>165 SDG</span>
													</li>
												</ul>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>

</section>


<section class="padding ptb-xs-40">
	<div class="container">
		<div class="row mt-30 mt-xs-0">
			<div class="col-md-4 d-flex align-items-center">
				<div class="section_tit">
				</div>
			</div>
		</div>

	</div>
</section>
{% endblock content %}