{% extends "layout.html" %}
{% block content %}
<section class="padding ptb-xs-40">
	<div class="romana_chect_out_form_area sp">
		<div class="container" style="margin-top: -170px">
			<form action="{{url_for('checkoutcleaning')}}" method="POST">
				<div class="romana_check_out_form">
					<div class="row bg_withe">
						<div class="col-lg-8" style="box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.17);">
							<div class="check_form_left common_input">
								<div class="heading-box pb-30" style="padding-top: 30px;">
									<h2><span>Service </span> Details</h2>
									<span class="b-line l-left"></span>
								</div>
								<div class="row">
									<div class="col-sm-6">
										<label>Number Of Hours </label>
										<input value="1" type="number" name="Hours" id="hours" class="form-control"
											onchange="getHours();">
									</div>
									<div class="col-sm-6">
										<label>How Many Maid You need ? </label>
										<input value="1" type="number" name="maid" id="maid" class="form-control"
											onchange="getMaid();">
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12">
										<main class="main">
											<div class="row">
												<label>How Often you need your cleaner ?</label>
											</div>
											<div class="row">
												<div class="col-sm-6">
													<input class="input_tabs" id="tab1" type="radio" name="freqtab"
														checked>
													<label onclick="getfreq()" data-value="One Day" id="once"
														class="label_tabs" for="tab1">Once</label>
													<section class="section_tabs" id="content1">
														<label>Select Date :</label>
														<input type="date" id="OnceDate" name="OnceDate" class="form-control" onchange="getDate();">
													</section>
												</div>

												<div class="col-sm-6">
													<input class="input_tabs" id="tab2" type="radio" name="freqtab">
													<label onclick="getfreqs()" data-value="Cleaning Schedule"
														id="csech" class="label_tabs" for="tab2">Cleaning
														Schedule</label>
													<section class="section_tabs" id="content2">
														<label>Start at:</label>
														<input type="date" id="Startdate" name="Startdate" class="form-control" onchange="getDateSchecdile();">
														<label>End at:</label>
														<input type="date" id="Enddate" name="Enddate" class="form-control" onchange="getDateSchecdile();">
													</section>
												</div>
											</div>
										</main>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4" style="padding-top: 30px; padding-bottom: 30px;">
							<div class="check_form_right bg-color light-color">
								<div class="heading-box pb-15 ">
									<h3><span>Booking </span>Summary</h3>
									<span class="b-line l-left secondary_bg"></span>
								</div>

								<div class="product_order">
									<ul>
										<li>
											Booking Type :<span id="freqtext"></span>
										</li>
										<li>
											Selected Hours :<span id="selectedhours"></span>
										</li>
										<li>
											Selected Maids :<span id="selectmaid"></span>
										</li>
										<li>
											Extra Services :<span id="extrasevices"></span>
										</li>
										<input id="sevices" name="extratext" type="hidden"> 
										<li>
											Selected Date :<span id="dateOrder"></span>
										</li>
									</ul>
								</div>
								<div class="romana_select_method ">
									<ul class="mb-40">
										<li>
											<h3><span>Price </span>Details</h3>
											<span class="b-line l-left secondary_bg"></span>
											<div class="product_order">
												<ul>
													<li>
														Total Charge :<span>150 SDG</span>
													</li>
													<li>
														Extra Service :<span id="extraprice"></span>
													</li>
													<input id="priceforextra" name="priceforextra" type="hidden"> 
													<li>
														Total Price :<span>165 SDG</span>
													</li>
												</ul>
											</div>
										</li>
									</ul>
									<button type="submit" class="btn-text white-btn">Next</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</section>

<section class="padding ptb-xs-40">
	<div class="romana_chect_out_form_area sp">
		<div class="container" style="margin-top: -170px">
			<form action="#">
				<div class="romana_check_out_form">
					<div class="row bg_withe">
						<div class="col-lg-8" style="box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.17);">
							<div class="check_form_left common_input">
								<div class="heading-box pb-30" style="padding-top: 30px;">
									<h2><span>Extra </span> Service</h2>
									<span class="b-line l-left"></span>
								</div>
								<div class="row">
									{% for item in ExtraServiceItems %}
									<div class="col-lg-3 col-md-6 mt-xs-30 "
										style="padding-left: 15px !important; padding-right: 10px !important; padding-bottom: 30px !important; box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.17);">
										<div class="clean_top mb-xs-30 feature-box" style="text-align: center;">
											<div class="content" style="height: 150px;">
												<label>{{ item.Name }}</label>
												<input id="{{ item.Name }}" type="checkbox" name="extraservice"
													data-value="{{ item.Price }}" value="{{ item.IdService }}"
													style="float: right; width: 100% !important;"
													onclick="getExtraServices();" />
											</div>
										</div>
									</div>
									{% endfor %}

								</div>
								<div class="row">
									<div class="col-sm-12">
										<label>Do you have any cleaning’s instructions ?</label>
										<textarea id="comment" name="comment" rows="4" cols="50" class="form-control"></textarea>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>

</section>

<script>
	function getHours() {
		var Date = document.getElementById("hours").value;
		document.getElementById("selectedhours").innerText = Date;
	}

	function getMaid() {
		var Date = document.getElementById("maid").value;
		document.getElementById("selectmaid").innerText = Date;
	}

	function getExtraServices() {
		var array_id = []
		var array_price = []
		var array_name = []
		var checkboxes = document.querySelectorAll('input[type=checkbox]:checked')

		for (var i = 0; i < checkboxes.length; i++) {
			array_id.push(checkboxes[i].value)
			array_price.push(checkboxes[i].getAttribute('data-value'))
			array_name.push(checkboxes[i].getAttribute('id'))
			// document.getElementById("extrasevices").innerText = array_name[i];
		}

		document.getElementById("extrasevices").innerText = array_name;


		numbers = array_price.map(Number);

		var sum = numbers.reduce(function (a, b) {

			return a + b;

		}, 0);

		document.getElementById("extraprice").innerText = sum + " SDG";
		document.getElementById("priceforextra").value = sum ;
		document.getElementById("sevices").value = array_name ;

		

		console.debug(array_id)
		console.debug(array_price)
		console.debug(array_name)
		console.debug(sum)
	}

	function getDate() {
		var Date = document.getElementById("OnceDate").value;
		document.getElementById("dateOrder").innerText = Date;
		
		document.getElementById("Startdate").value = null
		document.getElementById("Enddate").value = null
	}

	function getDateSchecdile() {
		var StartDate = document.getElementById("Startdate").value;
		var EndDate = document.getElementById("Enddate").value;

		document.getElementById("dateOrder").innerText = StartDate + " to " + EndDate ;
		document.getElementById("OnceDate").value = null
	}

	function getfreq() {
		var freqOnce = document.getElementById("once").getAttribute('data-value');
		document.getElementById("freqtext").innerText = freqOnce;

		console.debug(freqOnce)

	}

	function getfreqs() {
		var freqOnce = document.getElementById("csech").getAttribute('data-value');
		document.getElementById("freqtext").innerText = freqOnce;

		console.debug(freqOnce)

	}



 getHours();
 getMaid();
 getExtraServices();
 getDate();
 getfreq();
 getfreqs();
</script>


{% endblock content %}