<!DOCTYPE html>
<html lang="en">


<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Gentle Care Services</title>
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,700" rel="stylesheet">
	<link href="static/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="static/assets/css/font-awesome.css" rel="stylesheet" type="text/css">
	<link href="static/assets/css/ionicons.css" rel="stylesheet" type="text/css">
	<link href="static/assets/css/jquery.fancybox.css" rel="stylesheet" type="text/css">
	<link href="static/assets/css/magnific-popup.css" type="text/css" rel="stylesheet">

	<link href="static/assets/css/settings.css" type="text/css" rel="stylesheet" media="screen">
	<link href="static/assets/css/layers.css" type="text/css" rel="stylesheet" media="screen">
	<link href="static/assets/css/layers.css" type="text/css" rel="stylesheet" media="screen">
	<link href="static/assets/css/owl.carousel.css" type="text/css" rel="stylesheet" media="screen">
	<link href="static/assets/css/style.css" rel="stylesheet">
	<link href="static/assets/css/header1.css" rel="stylesheet" type="text/css" />
	<link href="static/assets/css/footer1.css" rel="stylesheet" type="text/css" />
	<link href="static/assets/css/header.css" rel="stylesheet" type="text/css" />
	<link href="static/assets/css/footer.css" rel="stylesheet" type="text/css" />
	<link href="static/assets/css/index1.css" rel="stylesheet" type="text/css" />
	<link href="static/assets/css/index.css" rel="stylesheet" type="text/css" />
	<link href="static/assets/css/theme-color/default.css" rel="stylesheet" type="text/css" id="theme-color" />
</head>

<body>

	<header id="header" class="header header-1 header_tran">
		<div id="top-bar" class="top-bar-section top-bar-bg-color">
			<div class="container">
				<div class="row">
					{% with messages = get_flashed_messages(with_categories=true) %}
					{% if messages %}
					{% for category, message in messages %}
					<div style="width: 50% ; margin: 0 auto;" class="alert alert-{{ category }}">
						{{ message }}
					</div>
					{% endfor %}
					{% endif %}
					{% endwith %}
					<div class="col-lg-12">
						<div class="top_loction pull-left">
							<ul>
								<li>
									<a href="#!"><i class="fa fa-map-marker"></i> Manshiya Block (88) Building (99) Khartoum Sudan</a>
								</li>
								<li>
									<a href="info@gentlecare.biz"><i class="fa fa-clock-o"></i>Saturday - Friday
										8:00 - 18:00</a>
								</li>
								<li>
									<a href="info@gentlecare.biz"><i class="fa fa-envelope"></i>
										info@gentlecare.biz</a>
								</li>
								<li>
									<a href="tel:2912"><i class="fa fa-phone"></i>+249183572975 / hotline: 2912</a>
								</li>
							</ul>
						</div>
					</div>

					<!-- <div class="col-lg-2">
						<div class="top-social-icon icons-hover-black">
							<div class="icons-hover-black">
								<a href="javascript:avoid(0);"> <i class="fa fa-facebook"></i> </a>
								<a href="javascript:avoid(0);"> <i class="fa fa-twitter"></i> </a>
								<a href="javascript:avoid(0);"> <i class="fa fa-linkedin"></i> </a>
							</div>
						</div>
					</div> -->

				</div>
			</div>
		</div>
		<div class="nav-wrap">
			<div class="reletiv_box">
				<div class="container">
					<div class="row d-flex align-items-center">
						<div class="col-md-3">
							<!-- <div class="logo">
									<a href="index-2.html"><img src="assets/images/logo.png" alt=""></a>
								</div> -->
							<!-- Phone Menu button -->
							<button id="menu" class="menu hidden-md-up"></button>
						</div>
						<div class="col-md-9 nav-bg">
							<nav class="navigation">
								<ul>
									<li>
										<a href="{{url_for('index')}}">Home</a>
									</li>
									<li>
										<a href="{{url_for('aboutus')}}">About us</a>
									</li>
									<li>
										<a href="{{url_for('ourservices')}}">Our Services</a>
									</li>
									<li>
										<a href="javascript:avoid(0);">Our Clients</a>
									</li>
									<li>
										<a href="{{url_for('contactus')}}">Contact us</a>
									</li>
								</ul>

							</nav>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>



	<div class="main-banner banner_up">
		<div id="rev_slider_34_1_wrapper" class="rev_slider_wrapper" data-alias="news-gallery34">
			<div id="rev_slider_34_1" class="rev_slider" data-version="5.0.7">
				<ul>
					<li data-index="rs-129">
						<img src="static/assets/images/img.jpg" alt="" class="rev-slidebg">
						<div class="tp-caption Newspaper-Title tp-resizeme " id="slide-129-layer-1"
							data-x="['left','left','left','left']" data-hoffset="['100','50','50','30']"
							data-y="['top','top','top','center']" data-voffset="['230','135','50','0']"
							data-fontsize="['50','50','50','30']" data-lineheight="['55','55','55','35']"
							data-width="['700','700','700','720']" data-height="none" data-whitespace="normal"
							data-transform_idle="o:1;"
							data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
							data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
							data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:0;y:0;s:inherit;e:inherit;"
							data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on">
							<div class="banner-text">
								<span class="sub-text">Welcome to</span>
								<h2>Gentle Care Services</h2>
								<p>
									Our cleaning  service  based on the customer demand customer select the type of claiming , location and the number of cleaners. 
								</p>
								<a class="btn btn-text" style="border-radius: 1px;" href="{{url_for('cleaning')}}"> Book
									Your Cleaning </a>
								<a class="btn btn-text" style="border-radius: 1px;" href="{{url_for('maintenance')}}">
									Book Your Maintenance </a>
							</div>
						</div>
			</div>
			</li>

			</ul>

		</div>
	</div>
	</div>


	<section class="counter_box">
		<div class="container">
			<div class="row bg_withe">
				<div class="col-lg-3 col-md-6 mt-xs-30 clean_top feature-box"
					style="padding-left: 0px !important; padding-right: 0px !important; box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.17); border: 1px  #1EC3E0;">
					<!-- <div class="clean_top mb-xs-30 feature-box"> -->
					<div class="content">
						<img src="static/assets/images/cleaning.png" alt="" height="50" width="50" />
						<h3 class="margin_30">On Demand Cleaning</h3>
						<p>
							Lorem Ipsum is simply text the printing and typesetting standard industry.
						</p>
					</div>
					<!-- </div> -->
				</div>
				<div class="col-lg-3 col-md-6 mt-xs-30 clean_top feature-box"
					style="padding-left: 0px !important; padding-right: 0px !important; box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.17); border: 1px  #1EC3E0;">
					<!-- <div class="clean_top mb-xs-30 feature-box"> -->
					<div class="content">
						<img src="static/assets/images/maintenance.svg" alt="" height="50" width="50" />
						<h3 class="margin_30">On Demand Maintenance</h3>
						<p>
							Lorem Ipsum is simply text the printing and typesetting standard industry.
						</p>
					</div>
					<!-- </div> -->
				</div>
				<div class="col-lg-3 col-md-6 mt-xs-30 clean_top feature-box"
					style="padding-left: 0px !important; padding-right: 0px !important; box-shadow: 0px 0px 1px  rgba(0, 0, 0, 0.17); border: 1px  #1EC3E0;">
					<!-- <div class="clean_top mb-xs-30 feature-box"> -->
					<div class="content">
						<img src="static/assets/images/security-purposes.svg" alt="" height="50" width="50" />
						<h3 class="margin_30">Trusted , Reliable, Vetted Agents</h3>
						<p>
							Lorem Ipsum is simply text the printing and typesetting standard industry.
						</p>
					</div>
					<!-- </div> -->
				</div>
				<div class="col-lg-3 col-md-6 mt-xs-30 clean_top feature-box"
					style="padding-left: 0px !important; padding-right: 0px !important; box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.17); border: 1px  #1EC3E0;">
					<!-- <div class="clean_top mb-xs-30 feature-box"> -->
					<div class="content">
						<img src="static/assets/images/offer.svg" alt="" height="50" width="50" />
						<h3 class="margin_30">Affordable Prices </h3>
						<p>
							Lorem Ipsum is simply text the printing and typesetting standard industry.
						</p>
					</div>
				</div>
				<!-- </div> -->

			</div>
		</div>
	</section>
	<!-- About -->
	<section class="padding ptb-xs-40">
		<div class="container">
			<div class="row mt-30 mt-xs-0">
				<div class="col-md-4 d-flex align-items-center">
					<div class="section_tit">
						<h2>About Us</h2>
						<span class="b-line l-left sm-l-center"></span>
					</div>
				</div>

				<div class="col-md-8 mt-xs-30 text-center text-md-left">
					<p style="text-align: justify;">
						GentleCare is the leading facility management (FM) Company in Sudan, providing a broad range of Facilities and Support services.
						GentleCare is a fast growing and dynamic company offering highly responsive and flexible services to clients. <br>
						In recognition of the rapid growth and in order to further enhance our expertise in facility management in 2007 we formed a joint venture with Comet Consulting Limited, a specialist Facilities Management company with over 17 years experience in FM, having operated in UK, Europe and the Middle East with a large number of Public and Private sector organisations.
					</p>
				</div>
			</div>

		</div>
	</section>
	<!-- About -->

		<!-- How_it_Work -->
		<section class="padding ptb-xs-40" style="background-color: #F8F9FB;">
			<div class="container">
				<div class="row pb-60 pb-xs-40">
					<div class="col-md-8 offset-md-2 text-center">
						<div class="section_tit">
							<h2>What We Do</h2>
							<h4>We provide full cleaning and compelete facilities management  </h4>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4 col-md-6 pt-70 mb-sm-30 mb-xs-30">
						<div class="process_box" style="box-shadow: 5px 5px 20px 1px rgba(0, 0, 0, 0.17);">
							<div class="triangle_box">
								<img src="static/assets/images/broom.svg" alt="" height="50" width="50">
							</div>
							<div class="process_detail">
								<h3 class="margin_30">Commercial and residential 
									Cleaning Services </h3>
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry.
								</p>
							</div>
							<div class="full_width">
								<a href="{{url_for('ourservices')}}" style="color: #14729F;">Read More ></a>
							</div>
						</div>
					</div>
	
					<div class="col-lg-4 col-md-6 pt-70 mb-sm-30 mb-xs-30">
						<div class="process_box" style="box-shadow: 5px 5px 20px 1px rgba(0, 0, 0, 0.17);">
							<div class="triangle_box">
								<img src="static/assets/images/fix.svg" alt="" height="50" width="50">
							</div>
							<div class="process_detail">
								<h3 class="margin_30">Commercial and residential 
									maintenance  Services </h3>
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry.
								</p>
							</div>
							<div class="full_width">
								<a href="{{url_for('ourservices')}}" style="color: #14729F;">Read More ></a>
							</div>
						</div>
					</div>
	
					<div class="col-lg-4 col-md-6 pt-70 mb-xs-30">
						<div class="process_box" style="box-shadow: 5px 5px 20px 1px rgba(0, 0, 0, 0.17);">
							<div class="triangle_box">
								<img src="static/assets/images/catering.svg" alt="" height="50" width="50">
							</div>
							<div class="process_detail">
								<h3 class="margin_30">Corporate catering</h3>
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry.
								</p>
							</div>
							<div class="full_width">
								<a href="{{url_for('ourservices')}}" style="color: #14729F;">Read More ></a>
							</div>
						</div>
					</div>
	
	
	
				</div>
				<div class="row">
					<div class="col-lg-4 col-md-6 pt-70 mb-sm-30 mb-xs-30">
						<div class="process_box" style="box-shadow: 5px 5px 20px 1px rgba(0, 0, 0, 0.17);">
							<div class="triangle_box">
								<img src="static/assets/images/school-bus.svg" alt="" height="50" width="50">
							</div>
							<div class="process_detail">
								<h3 class="margin_30">Corporate transportion</h3>
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry.
								</p>
							</div>
							<div class="full_width">
								<a href="{{url_for('ourservices')}}" style="color: #14729F;">Read More ></a>
							</div>
						</div>
					</div>
	
					<div class="col-lg-4 col-md-6 pt-70 mb-sm-30 mb-xs-30">
						<div class="process_box" style="box-shadow: 5px 5px 20px 1px rgba(0, 0, 0, 0.17);">
							<div class="triangle_box">
								<img src="static/assets/images/pest.svg" alt="" height="50" width="50">
							</div>
							<div class="process_detail">
								<h3 class="margin_30">Pest control</h3>
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry.
								</p>
							</div>
							<div class="full_width">
								<a href="{{url_for('ourservices')}}" style="color: #14729F;">Read More ></a>
							</div>
						</div>
					</div>
	
					<div class="col-lg-4 col-md-6 pt-70 mb-xs-30">
						<div class="process_box" style="box-shadow: 5px 5px 20px 1px rgba(0, 0, 0, 0.17);">
							<div class="triangle_box">
								<img src="static/assets/images/conversation.svg" alt="" height="50" width="50">
							</div>
							<div class="process_detail">
								<h3 class="margin_30">Helpdesk services </h3>
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry.
								</p>
							</div>
							<div class="full_width">
								<a href="{{url_for('ourservices')}}" style="color: #14729F;">Read More ></a>
							</div>
						</div>
					</div>
	
	
	
				</div>
			</div>
		</section>
		<!-- How_it_Work_End -->


	<!-- Section -->
	<section class="padding ptb-xs-40 bg_contact light-color">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center call_headding">
					<h3>Are you looking for professional Cleaner for your new Home?</h3>
					<div class="contact_info mt-30">
						<span class="call-us"><i class="ion-ios-telephone-outline"></i>Call us: 0183572975 Hotline: 2912 							
						</span><span>Or</span>
						<a class="btn btn-text" href="{{url_for('contactus')}}">Contact us</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Section_End -->

	<!-- How_it_Work -->
	<section class="padding ptb-xs-40" style="background-color: #F8F9FB;">
		<div class="container">
			<div class="row pb-60 pb-xs-40">
				<div class="col-md-8 offset-md-2 text-center">
					<div class="section_tit">
						<h2>How It Work</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6 pt-70 mb-sm-30 mb-xs-30">
					<div class="process_box" style="box-shadow: 5px 5px 20px 1px rgba(0, 0, 0, 0.17);">
						<div class="triangle_box">
							<img src="static/assets/images/hr.svg" alt="" height="50" width="50">
						</div>
						<div class="process_detail">
							<h3 class="margin_30">Select Service</h3>
							<p>
								Customer click on the website  then  select the type of the service and the number of the workers  per location.							</p>
						</div>

					</div>
				</div>

				<div class="col-lg-4 col-md-6 pt-70 mb-sm-30 mb-xs-30">
					<div class="process_box" style="box-shadow: 5px 5px 20px 1px rgba(0, 0, 0, 0.17);">
						<div class="triangle_box">
							<img src="static/assets/images/fast.svg" alt="" height="50" width="50">
						</div>
						<div class="process_detail">
							<h3 class="margin_30">Agent Arrives</h3>
							<p>
								Our back end office or  our system will send our agent immediately to the customer location after the customer  identify the location and the type of the service.							</p>
						</div>

					</div>
				</div>

				<div class="col-lg-4 col-md-6 pt-70 mb-xs-30">
					<div class="process_box" style="box-shadow: 5px 5px 20px 1px rgba(0, 0, 0, 0.17);">
						<div class="triangle_box">
							<img src="static/assets/images/credit-card.svg" alt="" height="50" width="50">
						</div>
						<div class="process_detail">
							<h3 class="margin_30">Payment Made</h3>
							<p>
								We have to way of payment either online or cash.							</p>
						</div>

					</div>
				</div>



			</div>

		</div>
	</section>
	<!-- How_it_Work_End -->

	<!-- Testimonial_Section -->
	<section class="padding ptb-xs-40 testimonial_section">
		<div class="container">
			<div class="row pb-60 pb-xs-40">
				<div class="col-md-8 offset-md-2 text-center">
					<div class="section_tit">
						<h2>Our Testimonial</h2>
						<h4>What Our Client Are Saying</h4>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">

					<div class="say_testimonial dots_style owl-carousel">
						<div class="item_testimonial">
							<div class="patient_head d-flex align-items-stretch">
								<div class="patient_img">
									<figure>
										<img src="static/assets/images/hqdefault.jpg" alt="" />
									</figure>
								</div>
								<div class="patient_detail d-flex align-items-center">
									<div>
										<h3>Zain Sudan</h3>
										<!-- <span>CEO</span> -->
									</div>
								</div>
							</div>
							<div class="patient_text">
								<p>
									Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when
									an unknown printer took a galley of type and scrambled it to make a type specimen
									book.
								</p>
							</div>
						</div>

						<div class="item_testimonial">
							<div class="patient_head d-flex align-items-stretch">
								<div class="patient_img">
									<figure>
										<img src="static/assets/images/bok.png" alt="" />
									</figure>
								</div>
								<div class="patient_detail d-flex align-items-center">
									<div>
										<h3>Bank of Khartoum</h3>
										<!-- <span>CEO</span> -->
									</div>
								</div>
							</div>
							<div class="patient_text">
								<p>
									Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when
									an unknown printer took a galley of type and scrambled it to make a type specimen
									book.
								</p>
							</div>
						</div>

						<div class="item_testimonial">
							<div class="patient_head d-flex align-items-stretch">
								<div class="patient_img">
									<figure>
										<img src="static/assets/images/hqdefault.jpg" alt="" />
									</figure>
								</div>
								<div class="patient_detail d-flex align-items-center">
									<div>
										<h3>Zain Sudan</h3>
										<!-- <span>CEO</span> -->
									</div>
								</div>
							</div>
							<div class="patient_text">
								<p>
									Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when
									an unknown printer took a galley of type and scrambled it to make a type specimen
									book.
								</p>
							</div>
						</div>
					</div>

				
				</div>
			</div>

		</div>
	</section>
	<!-- Testimonial_Section_End -->

	<!--Video Sec-->
	<section class="padding ptb-xs-40 video_sec">
		<div class="opacity-extra-medium bg-black"></div>
		<div class="container position-relative">
			<div class="row">
				<div class="col-lg-6 col-md-6 offset-md-3 text-center pop_section">
				</div>

			</div>
		</div>
	</section>
	<!--Video Sec End-->

	<!-- Date_form -->
	<section class="margin_top">
		<div class="container reponsive_full">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 bg_black d-flex align-items-center" style="box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.17);">
					<div class="form_home">
						<div class="section_heading mb-30 text-center">
							<h2>Why Us</h2>
							<h4 style="color: white;" >We’d love to hear from you
								Your voice matters to us</h4>
						</div>
						<!-- Contact FORM -->
						<form class="quote-form" id="contact">
							<!-- END IF MAIL SENT SUCCESSFULLY -->
							<div class="row">
								<div class="col-md-6">
									<div class="form-field">
										<input class="input-sm form-full" id="name" type="text" name="form-name"
											placeholder="Your Name">
									</div>
								</div>

								<div class="col-md-6">
									<div class="form-field">
										<input class="input-sm form-full" id="email" type="text" name="form-email"
											placeholder="Email">
									</div>
								</div>

								<div class="col-md-6">
									<div class="form-field">
										<input class="input-sm form-full" id="phone" type="text" name="form-name"
											placeholder="Your phone No.">
									</div>
								</div>

								<div class="col-md-6">
									<div class="form-field">
										<input class="input-sm form-full" id="subject" type="text" name="form-name"
											placeholder="Your Subject">
									</div>
								</div>

								<div class="col-md-12">
									<div class="form-field">
										<textarea class="form-full" id="message" rows="7" name="form-message"
											placeholder="Your Message"></textarea>
									</div>
								</div>
								<div class="col-md-12">
									<button class="bnt btn-text sent-but white-btn" type="button" id="submit"
										name="button">
										Send
									</button>
								</div>
							</div>
						</form>
						<!-- END Contact FORM -->

					</div>
				</div>



			</div>
		</div>
	</section>

	<footer>
		<div class="main_footer__block pb-0 pt-60">
			<div class="container">
				<div class="row">
					<div class="col-lg-3">
						<div class="footer_box__block">
							<h4>About Us</h4>
							<p>
								GentleCare is the leading Facility Management (FM) Company in Sudan, providing a broad
								range of Facilities and Support services. <br>
								GentleCare is a fast growing and dynamic company offering highly responsive and flexible
								services to clients.
							</p>
						</div>
					</div>
					<div class="col-lg-3 mt-sm-30 mt-xs-30">
						<div class="footer_box__block">
							<h4>Quick Links</h4>
							<ul>
								<li>
									<a href="{{url_for('index')}}">Home</a>
								</li>
								<li>
									<a href="{{url_for('aboutus')}}">About Us</a>
								</li>
								<li>
									<a href="{{url_for('ourservices')}}">Our Services</a>
								</li>
								<li>
									<a href="#">Our Clients</a>
								</li>
								<li>
									<a href="{{url_for('contactus')}}">Contact Us</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3 mt-xs-30 mt-sm-30">
						<div class="footer_box__block">
							<h4>Working Hours</h4>
							<ul>
								<li>
									<i class="fa fa-clock-o"> </i>
									Sunday : 8am-6pm
								</li>
								<li>
									<i class="fa fa-clock-o"> </i>
									Monday : 8am-6pm </li>
								<li>
									<i class="fa fa-clock-o"> </i>
									Tuseday : 8am-6pm </li>
								<li>
									<i class="fa fa-clock-o"> </i>
									Wednesday : : 8am-6pm </li>
								<li>
									<i class="fa fa-clock-o"> </i>
									Thursday : : 8am-6pm </li>
								<li>
									<i class="fa fa-clock-o"> </i>
									Friday : : 8am-6pm  </li>
								<li>
									<i class="fa fa-clock-o"> </i>
									Saturday : : 8am-6pm </li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3 mt-sm-30 mt-xs-30">
						<div class="footer_box__block address-box">
							<h4>Contact info</h4>
							<ul>
								<li>
									<i class="fa fa-phone"></i>
									<p>
										Call Us +249183572975 / hotline:2912
									</p>
								</li>
								<li>
									<i class="fa fa-envelope-o"></i>
									<p>
										<a href="mailto: info@gentlecare.biz">info@gentlecare.biz</a>
									</p>
								</li>
								<li>
									<i class="fa fa-map-marker"></i>
									<p>		
										Manshiya Block (88) Building (99) Khartoum Sudan 
									</p>
								</li>
								<li>
									<i class="fa fa-clock-o"></i>
									<p>
										Saturday - Friday
										8:00 - 18:00
									</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="copyriight_block ptb-20 mt-20">
					<div class="row">
						<div class="col-sm-6">
							<!-- <a href="#" class="footer__block-logo"><img src="assets/images/logo.png" alt=""></a> -->
						</div>
						<div class="col-sm-6 text-right">
							<p>
								Copyright © 2020 Nymeria Technology. All Rights Reserved.</p>
						</div>
					</div>
				</div>
			</div>
		</div>

	</footer>


	<!-- Site Wraper End -->
	<script type="text/javascript" src="static/assets/js/jquery.min.js"></script>
	<script type="text/javascript" src="static/assets/js/tether.min.js"></script>
	<script type="text/javascript" src="static/assets/js/bootstrap.min.js"></script>
	<script src="static/assets/js/jquery.easing.js" type="text/javascript"></script>

	<!-- fancybox Js -->
	<script src="static/assets/js/jquery.mousewheel-3.0.6.pack.js" type="text/javascript"></script>
	<script src="static/assets/js/jquery.fancybox.pack.js" type="text/javascript"></script>
	<!-- popup -->
	<script src="static/assets/js/jquery.magnific-popup.min.js" type="text/javascript"></script>

	<!-- carousel Js -->
	<script src="static/assets/js/owl.carousel.js" type="text/javascript"></script>

	<!-- imagesloaded Js -->
	<script src="static/assets/js/imagesloaded.pkgd.min.js" type="text/javascript"></script>
	<!-- masonry,isotope Effect Js -->
	<script src="static/assets/js/imagesloaded.pkgd.min.js" type="text/javascript"></script>
	<script src="static/assets/js/isotope.pkgd.min.js" type="text/javascript"></script>
	<script src="static/assets/js/masonry.pkgd.min.js" type="text/javascript"></script>
	<script src="static/assets/js/jquery.appear.js" type="text/javascript"></script>
	<!-- Mail Function Js -->
	<script src="static/assets/js/mail.js" type="text/javascript"></script>

	<!-- revolution Js -->
	<script type="text/javascript" src="static/assets/js/jquery.themepunch.tools.min.js"></script>
	<script type="text/javascript" src="static/assets/js/jquery.themepunch.revolution.min.js"></script>
	<script type="text/javascript" src="static/assets/extensions/revolution.extension.slideanims.min.js"></script>
	<script type="text/javascript" src="static/assets/extensions/revolution.extension.layeranimation.min.js"></script>
	<script type="text/javascript" src="static/assets/extensions/revolution.extension.navigation.min.js"></script>
	<script type="text/javascript" src="static/assets/extensions/revolution.extension.parallax.min.js"></script>
	<script type="text/javascript" src="static/assets/js/jquery.revolution.js"></script>
	<!-- custom Js -->
	<script src="static/assets/js/custom1.js" type="text/javascript"></script>


</body>

</html