{% extends "layout.html" %}
{% block content %}
<section class="padding ptb-xs-40">
	<div class="romana_chect_out_form_area sp">
		<div class="container" style="margin-top: -170px">
			<form action="{{url_for('checkoutmaintenance')}}" method="POST">
				<div class="romana_check_out_form">
					<div class="row bg_withe">
						<div class="col-lg-8" style="box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.17);">
							<div class="check_form_left common_input">
								<div class="heading-box pb-30" style="padding-top: 30px;">
									{% with messages = get_flashed_messages(with_categories=true) %}
									{% if messages %}
									  {% for category, message in messages %}
										<div class="alert alert-{{ category }}">
										  {{ message }}
										</div>
									  {% endfor %}
									{% endif %}
								  {% endwith %}
									<h2><span>Service </span> Details</h2>
									<span class="b-line l-left"></span>
								</div>
								<div class="row">
									<div class="col-lg-3 col-md-6 mt-xs-30 "
										style="padding-left: 15px !important; padding-right: 10px !important; padding-bottom: 30px !important; box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.17);">
										<div class="clean_top mb-xs-30 feature-box" style="text-align: center;">
											<div class="content">
												<img src="static/assets/images/valve.svg" alt="" height="50"
													width="50" />
												<h5> Pluming </h5>
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-md-6 mt-xs-30 "
										style="padding-left: 10px !important; padding-right: 10px !important; box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.17); ">
										<div class="clean_top mb-xs-30 feature-box" style="text-align: center;">
											<div class="content">
												<img src="static/assets/images/air-conditioner.svg" alt="" height="50"
													width="50" />
												<h5>AC Service </h5>
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-md-6 mt-xs-30 "
										style="padding-left: 10px !important; padding-right: 10px !important; box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.17);">
										<div class="clean_top mb-xs-30 feature-box" style="text-align: center;">
											<div class="content">
												<img src="static/assets/images/plug.svg" alt="" height="50"
													width="50" />
												<h5>Electrical</h5>
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-md-6 mt-xs-30 "
										style="padding-left: 10px !important; padding-right: 10px !important; box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.17);">
										<div class="clean_top mb-xs-30 feature-box" style="text-align: center;">
											<div class="content">
												<img src="static/assets/images/electrician(1).svg" alt="" height="50"
													width="50" />
												<h5>Handymen</h5>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-6">
										<label>Type of services :</label>
										<select name="Service" id="Service" class="form-control" onchange="getService();">
											{% for item in ServiceItems %}
											<option value="{{ item.IdService }}" data-value="{{ item.Price }}">{{ item.Name }}</option>
											{% endfor %} 
										</select> 
									</div>
									<div class="col-sm-6">
										<label>Priority Type :</label>
										<select name="Priority" id="Priority" class="form-control" onchange="getPriority();">
											{% for item in PriorityItems %}
											<option value="{{ item.IdPriority }}">{{ item.PriorityName }}</option>
											{% endfor %}
										</select>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-6">
										<label>Select Date :</label>
										<input type="date" id="Orderdate" name="Orderdate" class="form-control" onchange="getDate();">
									</div>
									<div class="col-sm-6">
										<label>What time you would like to start ?</label>
										<select name="time" id="time" class="form-control">
											{% for item in TimeItems %}
											<option value="{{ item.IdTime }}">{{ item.TimeDec }}</option>
											{% endfor %}										
										</select> 
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12">
										<label>Any special instructions or additional details ?</label>
										<textarea id="comment" name="comment" rows="4" cols="50" class="form-control"></textarea>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4" style="padding-top: 30px; padding-bottom: 30px;">
							<div class="check_form_right bg-color light-color">
								<div class="heading-box pb-15 ">
									<h3><span>Booking </span>Summary</h3>
									<span class="b-line l-left secondary_bg"></span>
								</div>

								<div class="product_order">
									<ul>
										<li>
											Type of Service :<span name="typeofservice"  id="typeofservice"></span>
										</li>
										<li>
											Priority Type :<span id="priority"></span>
										</li>
										<li>
											Selected Date :<span id="dateOrder"></span>
										</li>
										<li>
											Selected Time :<span>Flexible</span>
										</li>
									</ul>
								</div>
								<div class="romana_select_method ">
									<ul class="mb-40">
										<li>
											<!-- <input type="radio" id="option1" name="selector"> -->
											<h3><span>Price </span>Details</h3>
											<span class="b-line l-left secondary_bg"></span>
											<div class="product_order">
												<ul>
													<li>
														Total Charge :<span id="Price"></span>
													</li>
													<!-- <li>
														VAT :<span>15 SDG</span>
													</li> -->
													<li>
														Total Price :<span id="totalPrice"></span>
													</li>
												</ul>
											</div>
										</li>
									</ul>
									<button type="submit" class="btn-text white-btn">Next</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>

</section>


<section class="padding ptb-xs-40">
	<div class="container">
		<div class="row mt-30 mt-xs-0">
			<div class="col-md-4 d-flex align-items-center">
				<div class="section_tit">
				</div>
			</div>
		</div>

	</div>
</section>

<script>
	function getService() {
     var ServiceValue = document.getElementById("Service");
	 var Price = ServiceValue.options[ServiceValue.selectedIndex].getAttribute('data-value');
	 var text = ServiceValue.options[ServiceValue.selectedIndex].text;

     document.getElementById("typeofservice").innerText = text;
	 document.getElementById("Price").innerText = Price +" SDG";
	 document.getElementById("totalPrice").innerText = Price +" SDG";


	}

	function getPriority() {
     var PriorityValue = document.getElementById("Priority");
	 var text = PriorityValue.options[PriorityValue.selectedIndex].text;
     document.getElementById("priority").innerText = text;
	}

	function getDate(){

		var Date = document.getElementById("Orderdate").value;
		document.getElementById("dateOrder").innerText = Date;
	}
	
	getService();
	getPriority();
	getDate();

</script>
{% endblock content %}